@inherits LayoutComponentBase

<div class="page">
    <h1>Malthes Forum <sub><sub>– Hvor minder skabes!</sub></sub></h1>
    <NavLink href="/login">Log ind</NavLink>
    <NavLink href="/register">Opret dig</NavLink>

    @Body
</div>