@page "/"
@using ApiContracts
@using BlazorClient.Services
@inject HttpSubforumService SubforumService

<PageTitle>Home</PageTitle>

<p>Velkommen til 👉😎Malthes Forum🤓👈</p>
<p>Her er de bedste sider på Malthes Forum:</p>

<ul>
    @foreach (SubforumDTO subforum in _subforums)
    {
        <li><a href="/forum/@subforum.URL">@subforum.Name</a></li>
    }
</ul>

<p>Her kan du oprette et subforum</p>
<label for="name">Navn:</label>
<input type="text" id="name" @bind="_name">
<label for="url">URL-navn:</label>
<input type="text" id="url" @bind="_url">
<button @onclick="Submit">Opret!</button>

@code {

    private SubforumDTO[] _subforums = [];

    protected override async Task OnInitializedAsync()
    {
        _subforums = await SubforumService.GetAllSubforums();
    }

    private string _name = "";
    private string _url = "";

    private async Task Submit()
    {
        await SubforumService.CreateSubforum(_name, _url);
    }
    
}